<service name="tar_scm">
  <summary>Create a tarball from SCM repository</summary>
  <description>This service uses a SCM client to checkout or update from a given repository.  Supported are svn, git, hg and bzr.</description>
  <parameter name="scm">
    <description>Specify SCM to use.</description>
    <allowedvalue>svn</allowedvalue>
    <allowedvalue>git</allowedvalue>
    <allowedvalue>hg</allowedvalue>
    <allowedvalue>bzr</allowedvalue>
    <required/>
  </parameter>
  <parameter name="url">
    <description>Specify URL to checkout.</description>
    <required/>
  </parameter>
  <parameter name="subdir">
    <description>Package just a subdirectory.</description>
  </parameter>
  <parameter name="version">
    <description>Specify version to be used in tarball.  Defaults to automatically detected value formatted by versionformat parameter.</description>
  </parameter>
  <parameter name="versionformat">
    <description>
      Auto-generate version from checked out source using this format
      string.  This parameter is used if the 'version' parameter is not
      specified.

      For git, the value is passed to git log --date=short --pretty=format:...
      for the topmost commit, and the output from git is cleaned up to
      remove some unhelpful characters.  Here are some useful examples of
      strings which are expanded, see the git-log documentation for more.

      %ct               Commit time as a UNIX timestamp, e.g. 1384855776.
                        This is the default.

      %at               Author time as a UNIX timestamp, e.g. 1384855776.

      %cd               Commit date in YYYYMMDD format, e.g. 20131119

      %ad               Author date in YYYYMMDD format, e.g. 20131119

      %h                Abbreviated hash, e.g. cc62c54

      @PARENT_TAG@      The first tag that is reachable, e.g. v0.2.3

      @TAG_OFFSET@      The commit count since @PARENT_TAG@, e.g. 9

      For hg, the value is passed to hg log --template=....  See the
      hg documentation for more information.  The default is '{rev}'

      For bzr and svn, '%r' is expanded to the revision, and is the default.
    </description>
  </parameter>
  <parameter name="versionprefix">
    <description>Specify a base version as prefix.</description>
  </parameter>
  <parameter name="revision">
    <description>
       Specify revision of source to check out.

       When using git, revision may refer to any of the following:

       * explicit SHA1: a1b2c3d4....
         - the SHA1 must be reachable from a default clone/fetch
           (generally, must be reachable from some branch or tag on the
           remote).
         - set by: git checkout ${SHA1}

       * short branch name: "master", "devel" etc.
         - set by: git checkout ${branch}
                   git pull

       * explicit ref: refs/heads/master, refs/tags/v1.2.3,
         refs/changes/49/11249/1
         - set by: git fetch ${url} ${revision}:${revision}
                   git checkout ${revision}
    </description>
  </parameter>
  <parameter name="filename">
    <description>Specify name of package, which is used together with version to determine tarball name.</description>
  </parameter>
  <parameter name="extension">
    <description>Specify suffix name of package, which is used together with filename to determine tarball name.</description>
  </parameter>
  <parameter name="exclude">
    <description>Specify regexp to exclude when creating the tarball.</description>
  </parameter>
  <parameter name="include">
    <description>Specify subset of files/subdirectories to pack in the tarball.</description>
  </parameter>
  <parameter name="package-meta">
    <description>Package the metadata of SCM to allow the user or OBS to update after un-tar.</description>
    <allowedvalue>yes</allowedvalue>
  </parameter>
  <parameter name="history-depth">
    <description>Obsolete parameter which will be ignored.</description>
  </parameter>
  <parameter name="submodules">
    <description>Specify whether to include git submodules.  Default is 'enable'.</description>
    <allowedvalue>enable</allowedvalue>
    <allowedvalue>disable</allowedvalue>
  </parameter>
  <parameter name="sslverify">
    <description>Specify Whether or not to check server certificate against installed CAs.  Default is 'enable'.</description>
    <allowedvalue>enable</allowedvalue>
    <allowedvalue>disable</allowedvalue>
  </parameter>
  <parameter name="changesgenerate">
    <description>Specify whether to generate changes file entries from SCM commit log since a given parent revision (see changesrevision).  Default is 'disable'.</description>
    <allowedvalue>enable</allowedvalue>
    <allowedvalue>disable</allowedvalue>
  </parameter>
  <parameter name="changesauthor">
    <description>Specify author of the changes file entry to be written.  Defaults to first email entry in ~/.oscrc, or "opensuse-packaging@opensuse.org" if there is no .oscrc found.</description>
  </parameter>
</service>
