<service name="tar_scm">
  <summary>Create a tar ball from SCM repository</summary>
  <description>This service uses a scm client to checkout or update from a given repository. Supported are svn, git, hg and bzr.</description>
  <param name="scm">
    <description>Used SCM</description>
    <allowedvalue>svn</allowedvalue>
    <allowedvalue>git</allowedvalue>
    <allowedvalue>hg</allowedvalue>
    <allowedvalue>bzr</allowedvalue>
    <required/>
  </param>
  <param name="url">
    <description>Checkout url</description>
    <required/>
  </param>
  <param name="subdir">
    <description>package just a sub directory</description>
  </param>
  <param name="version">
    <description>Specify version to be used in tarball. Defaults to automatically detected value formatted by versionformat parameter.</description>
  </param>
  <param name="versionformat">
    <description>Auto-generate version from checked out source using this format string. For git, value is passed via git show --pretty=format:... (default '%ct'); for hg, via hg log --template=... (default '{rev}'); for bzr and svn, %r is revision (default '%r'). Overrides tarball name defined by version parameter. For git, @PARENT_TAG@ points to the first tag that is reachable from the current revision of the chosen branch.</description>
  </param>
  <param name="versionprefix">
    <description>specify a base version as prefix.</description>
  </param>
  <param name="revision">
    <description>specify a revision</description>
  </param>
  <param name="filename">
    <description>name of package - used together with version to determine tarball name</description>
  </param>
  <param name="exclude">
    <description>for specifying excludes when creating the tar ball</description>
  </param>
  <param name="include">
    <description>for specifying subset of files/subdirectories to pack in the tar ball</description>
  </param>
  <param name="package-meta">
    <description>Package the meta data of SCM to allow the user or OBS to update after un-tar</description>
    <allowedvalue>yes</allowedvalue>
  </param>
  <param name="history-depth">
    <description>Stored history depth. Special value "full" clones/pulls full history. Only valid if SCM git is used.</description>
  </param>
  <param name="submodules">
    <description>Whether or not to include git submodules.  Default is 'enable'</description>
    <allowedvalue>enable</allowedvalue>
    <allowedvalue>disable</allowedvalue>
  </param>
  <param name="tarfilename">
    <description>RPM or Deb naming?</description>
    <allowedvalue>${NAME}-${VERSION}</allowedvalue>
    <allowedvalue>${NAME}_${VERSION}</allowedvalue>
    <allowedvalue>${NAME}_${VERSION}.orig</allowedvalue>
  </param>
</service>

